



<div class="container">
  <div class="row">
    <div class="two columns"></div>
    <div class="eight columns">
      <h3> Hi, <%= @user.name %>.</h3>
      <span data-no-turbolink> <%= link_to("Write a new story", "/story_form")  %></span>
      </br>
      <span><%= link_to("See all my stories", user_stories_path(@user)) %> </span>
    </div>
    <div class="two columns"></div>
  </div>
</div>
