This will be a profile page for <%= @user.name %>
<div class="center-container">

  <div class="top-choice">
    <span> <%= link_to("Write a new story", new_user_story_path(@user) ) %></span>
  </div>

  <div class="top-choice">
    <span><%= link_to("See all my stories", user_stories_path(@user)) %> </span>
  </div>

</div>
