<h1> Hey <%= @user.name %>! Write a new story here! <h1>



<%= form_tag do %>
  <%= text_field_tag(:input) %>
  <%= submit_tag("add", :id=> "add_snippet")%>
  <!-- maybe something here to pass the id of the current word or the current word itself?
   so this wil be a text field, but every snippet will get a word as well... maybe ater-->
<% end %>

<div class="story">

</div>


