

<div class="container">


  <div class="row">
    <div class="six columns" id="change=title">
      <h4 class="add-title title-bar">Change the Title</h4>
      <input type="text" id="title" name="title"style="width: 300px;" />
    </div>
    <div class="six columns">
      <h4 class="add-your-story"> Add to your story here! </h4>
      <input type="text" id="main" style="width: 300px;"/>
      <input type="hidden" id="token" value="<%= form_authenticity_token %>" name="token"/>
      <button type="submit" id="add_snippet" class="submitb" value="submit"/>Add </button>
    </div>
  </div>

  <h4 class="title-bar"> My New Story </h4>

  <div class="row" style="border: 1px solid black;">
    <div class="six columns story">
      One fine day...
    </div>
    <div class="six columns words" style="border-left: 1px solid black; margin-left 10px; height: 300px; overflow: auto;">
    </div>
  </div>
  </br>

  <div class="row word-score">
    <div class="six columns word-count">
      <h5> Your Score: </h5>
      <div class="count-chocula"></div>
    </div>
    <div class="six columns new-word-button" style="padding-left: 10px; padding-top: 10px;">
      <h5> Grab a New Word!</h5>
    </div>
  </div>
  
</div>










<script src="https://cdn.rawgit.com/jprichardson/string.js/master/lib/string.min.js"></script>


<script type="text/template" id="the-list">
  <p class="definition">
    <%%= word.word +":" %>
    <li>
    <%%= word.definition %>
    </li>
    <HR>
  </P>
</script>

<script type="text/template" id="citation-template">

  <p class="test-fade">
    <%%= citation.body %>
    <HR>
  </p>
</script>





