







add here


<input type="text" id="main"/>
Title
<input type="text" id="title" name="title"/>
<input type="hidden" id="token" value="<%= form_authenticity_token %>" name="token"/>
<input type="submit" id="add_snippet"/>

<button class="new-word"> grab a new word </button>
<h2> My New Story </h2>
<div class="story">

</div>
<h3> Words in this Story </h3>
<div class="words">
</div>


<!-- this doesn't work -->
<script type="text/template" id="the-list">
  <p>
    <%%= word.word %>
    <li>
    <%%= word.definition %>
    </li>
  </P>
</script>

<script type="text/template" id="citation-template">

  <p>
    <%%= citation.body %>
  </p>
</script>





