

<div class="body-container">

  <input type="text" id="main"/>
  <span class="add-title">Add a Title</span>





    <h2 class="title-bar"> My New Story </h2>
  <div class="box-container">
    <div class="story">

    </div>
    <div class="words">
    </div>
  </div>

  <div class="word-score">

    <div class="word-count">
      </br>
      <div class="count-chocula"></div>
    </div>

    <div class="new-word-button">
      </br></br>
        Grab a new word
    </div>

    <div class="word-phrase">
      </br></br>
      <div class="phrase">
      </div>

    </div>

  </div>



  <span> Add to your story here! </span>
  <input type="text" id="title" name="title"/>
  <input type="hidden" id="token" value="<%= form_authenticity_token %>" name="token"/>
  <input type="submit" id="add_snippet"/>


</div>








<script type="text/template" id="the-list">
  <p class="definition">
    <%%= word.word %>
    <li>
    <%%= word.definition %>
    </li>
    <HR>
  </P>
</script>

<script type="text/template" id="citation-template">

  <p>
    <%%= citation.body %>
  </p>
</script>





