/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 */

body{
/*  background-color: #ECFC6D;
*/}

/*button {
  color: #FDEA4F;
  border: 1px solid #03232E;
  font-weight: bold;

}*/

.new-user-form{
  width: 450px;
}

.sign-in-form{
  width: 450px;
}

.top-choice{
  border: 1px solid black;
  height: 70px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: helvetica;
  font-size: 20px;
}

.story{
  border: 2px solid #03232E;
  height: 300px;
  width: 50%;
  overflow: scroll;
  background-color: white;
  font-family: helvetica;
  float: left;
  margin-right: 35px;
  margin-left: 35px;
  padding-left: 20px;
/*  padding-top: 10px;
*/  font-size: 20px;
  margin-top: 40px;
}

.login-input { float: right; clear: both; }

.title-bar{
  text-align: center;
  font-family: Helvetica;
  font-size: 36px;
}

.add-your-story{
  font-size: 20px;
  font-family: Helvetica;
}

.words{
  border: 2px solid #03232E;
  height: 300px;
  width: 35%;
  overflow: scroll;
  background-color: white;
  color: black;
  font-family: helvetica;
  margin-top: 40px;
  padding-left: 10px;
}

.add-title{
  font-size: 20px;
  font-family: Helvetica;
}

.word-score{
  height: 150px;
  width: 75%;
  border: 1px solid black;
  margin-left: 100px;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.word-count{
  height: 150px;
  width: 33%;
  border: 1px solid black;
  font-size: 40px;
  float: left;
/*  background-color: #FF9A52;
*/  color: #343444;
}

.story-input{
  text-align: center;
}

.greeting{
  text-align: center;
}

.title-container{
  text-align: center;
}

.old-story{
  text-align: center;
}

.past-stories{
  text-align: center;
}

.stories-index-header{
  text-align: center;
}

a:link {
    text-decoration: none;
    color: black;
    font-family: helvetica;
}

a:visited {
    text-decoration: none;
    font-family: helvetica;
    color: black;
}

a:hover {
    color: #FF00FF;
}


.new-word-button{
  height: 150px;
  width: 33%;
  font-size: 23px;
  border: 1px solid black;
  color: black;
  background-color: white;
  float: right;
}
.new-word-button:hover {
  color: white;
  background: black;
}
.box-container{
  border: 2px solid black;
  height: 400px;
  width: 75;
  margin-top: 20px;
/*  border-radius: 5px;*/
}

.word-phrase{
  height: 150px;
  width: 33%;
  border: 1px solid black;
  float: right;
  margin-right: 1px;
  font-size: 23px;
/**  background-color: #FF9A52;
*/  color: black;
}


.special{
  font-size: 20px;
  color: #6EFF00;
}

.header-span{
  padding-left: 5px;
  font-family: helvetica;
}

li{
  font-family: verdana;
}

.definition{
  font-size: 23px;
  color: #6EFF00;
}
h2{
  opacity:0;
    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;

}


#test p {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

#test p.load {
    opacity: 1;
}



.load {
  opacity: 1;
}


.submitb{
  width:70px;
  height:40px;
  background-color: white;
  color:black;
  border: 1px solid black;
  margin-left: 10px;
  font-family: Helvetica;
  font-size:20px;
}

.login-button{
  width:70px;
  height:30px;
  background-color: white;
  color:black;
  border: 1px solid black;
  font-family: Helvetica;
  font-size:15px;
}

.helvetica{
  font-family: Helvetica;
}
