/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require_tree .
 *= require_self
 */

body{
/*  background-color: #FDEA4F;*/
}


/*.center-container{
  width: 50%;
  height: 200px;
  margin: 0 auto;
  border: 1px solid black;
}*/

.top-choice{
  border: 1px solid black;
  height: 50px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.story{
  border: 2px solid #CCCCCC;
  height: 300px;
  width: 50%;
  overflow: scroll;
  background-color: white;
  color:#343444;
  font-family: helvetica;
  border-radius: 10px;
  float: left;
  margin-right: 25px;
  margin-left: 15px;
  padding-left: 20px;
  font-size: 25px;
  margin-top: 40px;

}

.words{
  border: 2px solid #CCCCCC;
  padding-left: 20px;
  height: 300px;
  width: 35%;
  overflow: scroll;
  background-color: white;
  color: black;
  font-family: helvetica;
  border-radius: 10px;
  margin-top: 40px;
}

.box-container{
  border: 2px solid #CCCCCC;
  height: 400px;
  width: 75;
  margin-top: 20px;
  border-radius: 5px;
}

.special{
  font-size: 25px;
  color: blue;
}



/*.body-container{
  padding-left: 120px;
  background-color: #343444;
  color: #FDEA4F;
  height: 800px;
  border-radius: 10px;
}
*/
.header-span{
  padding-left: 40px;
}


h2{
  opacity:0;
    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;

}


#test p {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

#test p.load {
    opacity: 1;
}


.load {
  opacity: 1;
}


