/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require skeleton
 *= require_self
 */









a:link {
    text-decoration: none;
    color: black;
    font-family: helvetica;
}

a:visited {
    text-decoration: none;
    font-family: helvetica;
    color: black;
}

a:hover {
    color: #FF00FF;
}


.new-word-button{
  height: 150px;
  width: 49%;
  font-size: 1.5em;
  border-left: 1px solid black;
  color: black;
  background-color: white;
  float: right;
}
.new-word-button:hover {
  color: white;
  background: black;
}
.box-container{
  border: 2px solid black;
  height: 400px;
  width: 75;
  margin-top: 20px;
/*  border-radius: 5px;*/
}

.word-phrase{
  height: 150px;
  width: 33%;
  border: 1px solid black;
  float: right;
  margin-right: 1px;
  font-size: 1.5em;
/**  background-color: #FF9A52;
*/  color: black;
}

.ohgod{
  color: #FF00FF;
  text-align: center;
}

.before-word{
  padding-top: 30px;
  font-size: 26px;
}

.special{
  font-size: 20px;
  color: #6EFF00;
}

.highlight{
  color: #6EFF00;

}

.header-span{
  padding-left: 5px;
  font-family: helvetica;
}

li{
  font-family: verdana;
  font-size: 0.75em;
}

.count-span{
  float: left;
  font-size: 33px;
}

.definition{
  font-size: 1em;
  color: #6EFF00;
}
h2{
  opacity:0;
    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;

}


#test p {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

#test p.load {
    opacity: 1;
}



.load {
  opacity: 1;
}



