/*.center-container{
  width: 50%;
  height: 200px;
  margin: 0 auto;
  border: 1px solid black;
}

.top-choice{
  border: 1px solid black;
  height: 50px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.story{
  border: 1px solid black;
  height: 300px;
  width: 75%;
  overflow: scroll;
}

.words{
  border: 1px solid black;
  height: 300px;
  width: 75%;
  overflow: scroll;

}

.special{
  font-size: 35px;
}
*/
